<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidanimations">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".toonGame.ToonGameActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".physicsAnimations.ButcherArticleActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".toonGame.PlayerSetupActivity" />
        <activity
            android:name=".physicsAnimations.PhysicsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".listRemovalAnimation.ListRemovalAnimationActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".squashAndStretch.SquashAndStretchActivity" />
        <activity
            android:name=".multiPropertyAnimations.MultiPropertyAnimationsActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".liveButton.LiveButtonActivity" />
        <activity android:name=".curvedMotion.CurvedMotionActivity" />
        <activity android:name=".anticipation.AnticipationActivity" />
        <activity android:name=".activityAnimations.ActivityAnimations" />
        <activity android:name=".activityAnimations.PictureDetailsActivity" />
        <activity android:name=".windowAnimations.AnimatedSubActivity" />
        <activity android:name=".windowAnimations.SubActivity" />
        <activity android:name=".windowAnimations.WindowAnimations" />
        <activity android:name=".viewAnimations.ViewAnimations" />
        <activity android:name=".propertyAnimations.PropertyAnimations" />
        <activity android:name=".layoutTransChanging.LayoutTransChanging" />
        <activity android:name=".crossFading.CrossFading"></activity>
    </application>

</manifest>